@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .gotBG {
    background: url("./assets/img.jpg") no-repeat scroll center;
    background-size: cover;
    color: white;
  }

  .noBg {
    color: black;
  }
}
